<html>
    <center> 
    <Head>
        <button id = "logo" type = "button"><img src="/media/image/cloidelogo.png" height ="500" width = "600" alt=""></button>
        <style>
            #logo{
                background-color: white;
                border:none;
            }
        </style>
    </Head>
        <body>
            
            <div class = "container">
                
                {% block content %}
                {% endblock %}
            </div>

            <br>
            <button id = 'back'></button>

            </a>

            <script>
                let back = document.getElementById("back");
                console.log(location.pathname);
                if(location.pathname == '/'){
                    document.getElementById("back").innerHTML='Go Skip';
                    back.addEventListener('click',function(event){
                        location.href = "http://127.0.0.1:8000/home/";//메인페이지로 갈 버튼
                    });
                    
                }
                else{
                    document.getElementById("back").innerHTML='뒤로가기';
                    back.addEventListener('click',function(event){
                        history.go(-1);
                    });
                }
            </script>
            <style>
                #back{
                    font-size:15px;
                    width:80px;
                    height:40px;
                }
            </style>
        </body>
    </center> 
</html>