{% extends 'base.html' %}

    {% block content %}
    <br>
    <br>
    <body>
        
        <div class = "container">
            <button id = 'man' ><img id = "manimg" src = "../static/img/man.jpeg"><br><br>Man</button>
            
            <button id = 'woman'><img id = "wmimg" src = "../static/img/women.jpeg"><br><br>Woman</button>
            <script>
                let man = document.getElementById('man');
                let woman = document.getElementById('woman');
                
                man.addEventListener('click',function(event){
                        
                    location.href = 'mstyle?'+'Man';//성별은 남자를 선택
                        
                });
                
                
                woman.addEventListener('click',function(event){
                        location.href = 'wstyle?'+'Woman';
                    });
                
                
            </script>
        </div>
        <style>
            #manimg{
                width:400px;
                height:200px;
                
            }
            #wmimg{
                width:400px;
                height:200px;
            }
           
            #man{
                font-size : 40px;
                background-color: transparent;
                border:none;
            }
            
            #woman{
                padding-left: 40px;
                font-size : 40px;
                background-color: transparent;
                border:none ;
            }
        </style>
    
    </body>
{% endblock %}
