{% extends 'base.html' %}
    {% block content %}
    <br>
    <body>
         
        <div class = "container">
            <button id = 'man' >Man</button>
            
            <button id = 'woman'>Woman</button>
            <script>
                let man = document.getElementById('man');
                let woman = document.getElementById('woman');
                if(man){
                    man.addEventListener('click',function(event){
                        
                        location.href = 'mstyle?'+'Man';//성별은 남자를 선택
                        
                    });
                }
                else if(woman){
                    woman.addEventListener('click',function(event){
                        location.href = 'cloideapp/wmstyle?'+'Woman';
                    });
                }
                
            </script>
        </div>
    </body>
{% endblock %}