{% extends 'base.html' %}
{% block content %}
<title>연령대</title>
<br>
<body>

    <div>
        <button id = "10대">10대</button>
        <button id = "20대">20대</button>
        <button id = "30대">30대</button>
        <button id = "40대">40대</button>
    </div>
    <script>
        let temp = location.href.split("?");
        let sex = temp[1]; //성별
        let style = temp[2];//스타일 선택
        console.log(style);
        let ten = document.getElementById('10대');
        let twenty = document.getElementById('20대');
        let thirty = document.getElementById('30대');
        let fourty = document.getElementById('40대');
        let age;
        if(ten){
            age = "10대"
            ten.addEventListener('click',function(event){
                location.replace("mten?"+sex+"?"+style+"?"+"age");
            });
        }
        if(twenty){
            age = "20대"
            twenty.addEventListener('click',function(event){
                location.replace("mtwenty?"+sex+"?"+style+"?"+"age");
            });
        }
        if(thirty){
            age = "30대"
            thirty.addEventListener('click',function(event){
                location.replace("mthirty?"+sex+"?"+style+"?"+"age");
            });
        }
        if(fourty){
            age = "40대"
            fourty.addEventListener('click',function(event){
                location.replace("mfourty?"+sex+"?"+style+"?"+"age");
            });
        }
    </script>
</body>
{% endblock %}