{% load static %}

<head>
<link rel="stylesheet" href="{% static 'css/intro.css'%}" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
 <h1> 클로이드 소개</h1>
</head>

<body>
  <div class="top_container">
    저희는 한국항공대학교 멋쟁이 사자처럼 8기 '클로이드' 팀입니다.

    <br>
    <br>
    클로이드는 원하는 스타일에 맞는 다양한 브랜드를 정리하여
    한눈에 보기 쉽게 정리해 놓은 사이트 입니다.

    <br>
    <br>브랜드별 다양한 스타일 사진도 올리고 공유도 해보세요!
    <div class= "likelion_img">
   <img src="https://blog.martinwork.co.kr/images/review/likelion-hackerton-review.png">
      </div>
 </div>
  
 <div class="bottom_container">
   <img src="https://ebook.nowon.kr/file/pfile/skin/qrcode_20181214220149.png" alt="" id="QR">
  <br>
   클로이드에게 커피 한잔의 후원은 큰 힘과 응원이 됩니다 :)
  <br>
  <br>
  *후원 계좌번호: 938002 - xx - xxxx77 (국민은행) 클로이드
 </div>

 
</body>