{% extends 'base.html' %}
{% block content %}
<style>
    .cover {
        padding: 0 1.5rem;
    }
    .cover .btn-lg {
        padding: .75rem 1.25rem;
        font-weight: 700;
    }
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .content_container{
          width: 1000px;
          height: auto;
            margin-left: 200px;
            margin-right: 50px;
            text-align: center;
      }
      .img_container{
          text-align: center;
          margin-top: 20px;
          margin-bottom: 20px;
      }
      
</style>
    <div class="img_container">
        <img src="{{magazine.image.url}}" alt="" class="rounded">
    </div>
      
    <br>
    <div class="content_container">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">{{magazine.title}}</h1>
            <p class="lead">{{magazine.content}}</p>
            <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">{{magazine.url}}</a>
            </p>
        </main>
        <a href="{% url 'home' %}">홈</a>
    </div>

{% endblock %} 
