{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  .mypage_set{
    display:inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  h5{
    font-size: 30px;
    text-align: center;
  }
  .mypage_set a{
    text-decoration: none;
  }

</style>
<center>
<div class="mypage_set">
  <div class="card-deck">

      <div class="card bg-danger" style="max-width: 13rem;">
        <img class="profile" src="https://www.flaticon.com/svg/static/icons/svg/1077/1077063.svg">
        <div class="card-body">
          <h5 class="card-title">내 정보</h5>
          <p class="card-text">여기서 나의 정보를 확인하세요</p>
        </div>
      </div>


      <div class="card  bg-success" style="max-width: 13rem;">
        <img class="profile" src="https://www.flaticon.com/svg/static/icons/svg/3159/3159614.svg" style="max-width: 13rem;">
        <div class="card-body">
          <h5 class="card-title">최근 본 목록</h5>
          <p class="card-text">당신이 본 브랜드의 목록입니다</p>
        </div>
      </div>

      <a href="{% url 'notice' %}">
      <div class="card bg-info" style="max-width: 13rem;">
        <img class="profile" src="https://www.flaticon.com/svg/static/icons/svg/35/35822.svg" style="max-width: 13rem;">
        <div class="card-body">
          <h5 class="card-title">공지사항</h5>
          <p class="card-text">오늘의 클로이드 공지를 확인해 보세요</p>
        </div>
      </div>
    </a>
    <a href="{% url 'mycloset' %}">
      <div class="card bg-warning" style="max-width: 13rem;">
        <img class="profile  text-white" src="https://www.flaticon.com/svg/static/icons/svg/963/963875.svg">
        <div class="card-body">
          <h5 class="card-title">나만의 옷장</h5>
          <p class="card-text">당신이 좋아하는 브랜드와 상품 옷장입니다</p>
        </div>
      </div>
    </a>
    </div>
  </div>
</center>
{% endblock %}