<html lang="ko">
  {% load static %}

  <head>
    <link rel="stylesheet" href="{% static 'css/mypage2.css'%}" type="text/css">
    <h1> 마이페이지 </h1>
  </head>

  <div class="container">
    <button><a class="btn_mypage" onclick="location.href=">내 정보
      <div class="box">
      <img class="profile" src="https://www.flaticon.com/svg/static/icons/svg/1077/1077063.svg">
    </div></a></button>
    
    <button><a class="btn_mypage" onclick="location.href=">최근 복 목록
      <div class="box">
      <img class="profile" src="https://www.flaticon.com/svg/static/icons/svg/3159/3159614.svg">
    </div></a></button>

    <button><a class="btn_mypage" href="{% url 'notice' %}">공지사항
      <div class="box">
      <img class="profile" src="https://www.flaticon.com/svg/static/icons/svg/35/35822.svg">
    </div></a></button>
    
    <button><a class="btn_mypage" href="{% url 'mycloset' %}">나만의 옷장
      <div class="box">
      <img class="profile" src="https://www.flaticon.com/svg/static/icons/svg/963/963875.svg">
    </div></a></button>

  </div>
</html>