.containers{
    position: relative;
    width:1000px;
    height: 650px;
    overflow: hidden;
    padding-bottom: 40px;
    margin-left: 150px;
}
.container img{
    border-radius: 10px;
}
.slider-container{
    position: absolute;
    width: 100%;
    left:0;
}
.slide{
    position: absolute;
    width: 100%;
    padding:4px 10%;
    box-sizing:border-box;
    top: 40%;
    transform: translateY(-50%);
    overflow:hidden;
    text-align: center;
    background: #ffffff;
} 
.slider-container.animated{
    -webkit-transition: left .3s ease-in;
    transition:left .3s ease-in;
}
#prev,#next{
    position: absolute;
    top: 35%;
    left:50%;
    transform: translateY(-50%);
    z-index: 99999;
    display: inline-block;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in;
    transition:all .3s ease-in;
}

#prev.disabled, #next.disabled{
    display: none;
}
#prev { 
    background-image: url("../img/arrowhoverleft.png");
    margin-left: -480px;
}
#prev:hover{
    background-image: url("../img/arrowleft.png");
}
#next { 
    background-image: url("../img/arrowhover.png");
    margin-left: 380px;
}
#next:hover{
    background-image: url("../img/arrow.png");
}
.pager {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 75%;
    text-align: center;
}
.pager span{
    width: 10px;
    height: 10px;
    background: rgb(204, 204, 204);
    border-radius: 50%;
    display: inline-block;
    text-indent: -999999em;
    margin:0 5px;
}
.pager span.active{
    background: #333333;
}