html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

html,body{
    border: 0;
    padding:0;
    width: 100%;
    height: 100%;
    background: #f8f8f8;
}
@font-face{
    font-family: "Ghanachocolate";
    src: url("../font/Ghanachocolate.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}
/*=========================*/
.wrapper{
    height: auto;
    min-height: 100%;
    padding-bottom: 70px;
}
header {
    text-align: center;
    text-decoration: none;
    background: white;
}
header h1 {
    position: absolute;
    left:50px;
    top: 0;
    padding: 14px 0 0;
}
header h1 a{
    width: 120px;
    height: 300px;
    /*디자인을 넣을 때는 a요소에 w h를 넣어줘라*/
    display: block;
;
    background:url("../img/logo.png") no-repeat ;
}
header h2{
    position: absolute;
    left: -10000px;
}
header .lnb li{
    display: inline-block;
    padding-top: 30px;
    /*float: left; 는 쓰면 안됨*/
    /*in line을 쓰면 li를 줄내림시에 space한칸이생김*/
}
header .lnb li a{
    display: block;
    height: 60px;
    padding: 0 10px;
    font-size: 20px;
    color: #333;
    line-height: 60px;
    text-decoration: none;
    font-family: Ghanachocolate;
    font-size: 22px;
}
header .lnb li a:hover{
    color: gray;
    font-weight: bold ;
    text-decoration: solid;
}
header .spot{
    position: absolute;
    right: 50px;
    top:0;
}
header .spot li{
    float: left;
    padding-top: 40px;
    font-size: 22px;
    font-family: Ghanachocolate;
    
}
header .spot li a{
    display: block;
    height: 50px;
    padding:0 7px;
    line-height: 40px;
    text-decoration: none;
    color:black;
}
.blackiconcolor{
    color: black;
}
/*header 검색창*/
.search{
    position: absolute;
    display: block;
    padding-left: 190px;
    padding-top: 45px;
}
.green_window {
	display: inline-block;
	width: 260px; height: 27px;
	border: 2px solid #333;
    background: white;
    border-radius: 10px;
}
.input_text {
	width: 200px; height: 20px;
	margin: 3px 0 0 5px;
	border: 0;
	line-height: 21px;
	font-size: 16px;
    outline: none;
    font-family: Ghanachocolate;
}

.sch_smit {
	width: 24px; height: 24px;
	margin: 0; border: 0;
	vertical-align: top;
	background: none;
	color: black;
	font-weight: bold;
	border-radius: 1px;
    cursor: pointer;
    border-radius: 10px;
}
.sch_smit:hover {
	background: #f0efef;
}
/*header 끝*/
/*슬라이드*/
.container{
    position: relative;
    width:100%;
    overflow: hidden;
    padding-bottom: 25px;
}
.container img{
    border-radius: 10px;
}
.slider-container{
    position: absolute;
    width: 100%;
    left:0;
}
.slide{
    position: absolute;
    width: 100%;
    padding:4px 10%;
    box-sizing:border-box;
    top: 40%;
    transform: translateY(-50%);
    overflow:hidden;
    text-align: center;
    background: #ffffff;
} 
.slider-container.animated{
    -webkit-transition: left .3s ease-in;
    transition:left .3s ease-in;
}
#prev,#next{
    position: absolute;
    top: 35%;
    left:50%;
    transform: translateY(-50%);
    z-index: 99999;
    display: inline-block;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in;
    transition:all .3s ease-in;
}

#prev.disabled, #next.disabled{
    display: none;
}
#prev { 
    background-image: url("../img/arrowhoverleft.png");
    margin-left: -480px;
}
#prev:hover{
    background-image: url("../img/arrowleft.png");
}
#next { 
    background-image: url("../img/arrowhover.png");
    margin-left: 380px;
}
#next:hover{
    background-image: url("../img/arrow.png");
}
.pager {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 75%;
    text-align: center;
}
.pager span{
    width: 10px;
    height: 10px;
    background: rgb(204, 204, 204);
    border-radius: 50%;
    display: inline-block;
    text-indent: -999999em;
    margin:0 5px;
}
.pager span.active{
    background: #333333;
}

/*footer*/
footer{
    height: 70px;
    background:#333;
    color: #fff;
    position: relative;
    transform: translateY(-100%);
}



/*cards*/



/*magazines*/
.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }

