
html,body{
    border: 0;
    padding:0;
    width: 100%;
    height: 100%;
}

.btn_mypage {
    display:block;
    width: 260px;
    height: 210px;
    font-size:30px;
    float:left;
    padding: 30px;
  }
  
  
.container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 3em;
    width:500px;
    margin:0 auto;
    margin-bottom: 100px;
}
  
h1 {
    display: inline-block;
    font-size :250%;
    margin-left:50%;
    margin-top:150px;
    margin-bottom:100px;
    border-bottom: 3px dotted  skyblue;
  }
  
.profile {
      width: 150px;
      height: 150px;
}
  

  