{% extends 'base.html' %}
{% load static %}
{% block content %}
<main role="main">
    <div class="album py-5 bg-light">
     <div class="container">              
         <div class="row">
         {% for brand in brands  %}
             <div class="col-md-4">
                 <div class="card mb-4 shadow-sm">
                 <img src="{{brand.logo.url}}" alt=""> 
                 <div class="card-body">
                     
                     <p id = "brand_name" class="card-text">{{brand.name}}</p>
                     <div class="d-flex justify-content-between align-items-center">
                     <div class="btn-group">
                        
                        <button id = "viewbtn" type="button" class="btn btn-sm btn-outline-secondary"><a href = "http://127.0.0.1:8000/brand/brand_detail?{{brand.name}}">View</a></button>
                           
                    </div>
                     
                     <small class="text-muted">{{brand.url}}</small>
                     </div>
                 </div>
                 </div>
             </div>
         {% empty %}
             <center><h5>검색 결과가 없습니다.</h5></center>
         {% endfor %}
         </div>
     </div>
     </div>
 
</main>    

<style>
    .column{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
</style>
      
{% endblock %}