{% extends 'base.html' %}

{% block content %}

    {% for notice in articles %} 
    <div class = "container">
        <h1>{{notice.title}}</h1>
        <p>내용 : {{notice.summary}} <a href= "{% url 'detail' notice.id %}" >....more</a></p>
        <p>작성시간 : {{notice.pub_date}}</p>
    </div>
    {% endfor %}

    <div class= "container">
    {% if articles.has_previous %}
      <a href ="?page=1">First</a>
      <a href="?page={{ articles.previous_page_number }}">Previous</a>
    {% endif %}
    
    <span>{{articles.number}}</span>
    <span>of</span>
    <span>{{articles.paginator.num_pages}}</span>
    
    {% if articles.has_next %}
      <a href ="?page={{ articles.next_page_number }}">Next</a>
      <a href="?page={{ articles.paginator.num_pages }}">Last</a>
    {% endif %}
  </div>
{% endblock %}